<zk xmlns:n="native" xmlns:x="xhtml" xmlns:zk="zk">
	<zscript><![CDATA[
		import java.awt.*;
		import java.awt.image.*;
		import java.awt.geom.*;
		BufferedImage imagevar2 = new BufferedImage(50, 50, BufferedImage.TYPE_INT_ARGB);
	]]></zscript>
	<n:section class="page_head">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="page_title">
						<n:h2>Blog</n:h2>
					</div>
					<n:nav id="breadcrumbs">
						<n:ul>
							<n:li>
								<a href="index.html">Home</a>
								/
							</n:li>
							<n:li>Shortcodes</n:li>
						</n:ul>
					</n:nav>
				</div>
			</div>
		</div>
	</n:section>
	<n:section class="content blog">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-12" apply="org.zkoss.bind.BindComposer"
						viewModel="@id('vm') @init('vn.cal.service.BaiDangService')">
					<include src="/frontend/listbaidang.zul" />
				</div>
			</div>
		</div>
	</n:section>
	
</zk>
